 <!--ejs para o footer-->
 <%- include('footer') -%>
		
</div>

<!--ejs para o botão de voltar ao topo-->
<%- include('footer-gototop') -%>

<!--ejs para os scripts do javascript-->
<%- include('footer-scripts') -%>

</body>

</html>